# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Model Files
*.pkl
*.joblib

# Data Files
*.csv
*.xlsx
*.parquet

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Large datasets
US_Accidents_March23.csv
